<%- include('../partials/header') -%>
<section class="container">
    <%- include('../partials/flash') -%>
    <h1>Welcome to your Volume Tracker!</h1>
</section>
<%- include('../partials/footer') -%> 